<div id="header">
        <div class="back-home"><a href="/home"><img src="/img/cpi.jpg" alt="Back to Home" style="border:none;" /></a>
        </div>				

        <ul class="nav">
            <li><a  href="/client/mainproperties">Properties | </a> </li>
            <li class="dropdown"><a  href="/client/services" >Services | </a>
                <ul class="sub-nav">
                <li><a href="/client/develop">Development </a></li>
                <li><a href="/client/manage">Management</a></li>
                <li><a href="/client/leasing">Leasing</a></li>
                <li><a href="/client/tenant-rep">Tenant Representation</a></li>
                <li><a href="/client/investment">Investment</a>	</li>
                </ul>
            </li>
            <li class="dropdown"><a  href="/client/about" >About |</a>
                <ul class="sub-nav">
                <li><a href="/client/previousproperties">Development History</a></li>
                <li><a href="/client/employees">Key Employees</a></li>
                <li><a href="/client/retail">Retail Relationships</a></li>
                </ul>
            </li>
            <li><a  href="/client/news">News | </a></li>
            <li><a  href="/client/contact">Contact</a></li>
        </ul>


    </div>
