<div id="header">
        <div class="back-home"><a href="/client/index"><img src="/img/cpi.jpg" alt="Back to Home" style="border:none;" /></a>
        </div>				

        <ul class="nav">
            <li><a  href="/properties.php">Properties | </a> </li>
            <li class="dropdown"><a  href="/services.php" >Services | </a>
                <ul class="sub-nav">
                <li><a href="/develop.php">Development </a></li>
                <li><a href="/manage.php">Management</a></li>
                <li><a href="/leasing.php">Leasing</a></li>
                <li><a href="/tenant-rep.php">Tenant Representation</a></li>
                <li><a href="/investment.php">Investment</a>	</li>
                </ul>
            </li>
            <li class="dropdown"><a  href="/about.php" >About |</a>
                <ul class="sub-nav">
                <li><a href="/development-history.php">Development History</a></li>
                <li><a href="/keyemp.php">Key Employees</a></li>
                <li><a href="/retrel.php">Retail Relationships</a></li>
                </ul>
            </li>
            <li><a  href="/news.php">News | </a></li>
            <li><a  href="/contact.php">Contact</a></li>
        </ul>


    </div><!-- end header /////////////////////////// -->
