<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <title>CPI backend login page</title>
</head>
<style>
.jumbotron {
    padding: 1px;

    background-color: #98ccae;
    background-color: #b8ffea;
    background-color: #ffb991 ;
    color: #5f2f22;
}
html {
    background-color: #b8ffea;
    background-color: #ffb991 ;
}
    .alert-primary {
    color: #5f2f22;
    background-color: #b8ffea;
    border-color: #b8ffea;
}
</style>
<body>

              <section class="jumbotron text-center">
                  <div class="container">
                    <h1 class="jumbotron-heading">CPI property editor</h1>
                    <p class="lead text-muted">    
                                <form
        action="/login"
        method="POST"
        >  
                <div class="form-group">
                  <label for="inputUserId">User Id</label>
                  <input value="harmon" name="userid" type="email" class="form-control" id="inputUserId" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="inputPassord">Password</label>
                  <input value="password" name="password" type="password" class="form-control" id="inputPassord" placeholder="Password">
                </div>
    
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>

                  </p>
                  </div>
                </section>
          
          




</body>
</html>