<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <title>CPI backend login page</title>
</head>
<style>
.jumbotron {
    padding: 1px;

    background-color: #98ccae;
    background-color: #b8ffea;
    background-color: #ffb991 ;
    color: #5f2f22;
}
html {
    background-color: #b8ffea;
    background-color: #ffb991 ;
}
    .alert-primary {
    color: #5f2f22;
    background-color: #b8ffea;
    border-color: #b8ffea;
}
</style>

<body>

              <section class="jumbotron text-center">
                  <div class="container">
                    <h1 class="jumbotron-heading">CPI property list</h1>
                    <h2>Welcome ${userid}</h2>
                    <p class="lead text-muted">    

                  </p>
                  </div>
                </section>

                <div>Properties</div>
                <div class="card mb-12 shadow-sm" style="overflow-y: auto; max-height: 250px;">

                    <ul >

                     
                        
                          

                          ${properties.map((property) =>  `<li  >
                              <form action="/property" method="POST">
                              <input name="propid" value="${property.id}" style="display:none;">
                              <button class="propertyButton" type="submit" >${property.propertyName}</button></form>
                          
                          
                          
                          </li>`).join(' ')}
      


                     

                    </ul>
                 
                </div>




                <div><a href="/logout">LOGOUT</a></div>

          
          




</body>
</html>