<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--This is the Tiny code for the wysiwyg text editor-->
    <!--this will only affect textareas with a class of tinymce-->
    <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=9tw2ppy0n9zv0luejilt5gudytcifi9pbqj795dhe79b2xf8"></script>
    <script>tinymce.init({ selector:'textarea.tinymce' , plugins: " link lists  ",
    toolbar: "numlist bullist | styleselect | link | bold italic| undo redo",
    menubar: 'format insert  '});</script>

  
    <title>CPI backend login page</title>
</head>
<style>



.jumbotron {
    padding: 1px;

    background-color: #98ccae;
    background-color: #b8ffea;
    background-color: #ffb991 ;
    color: #5f2f22;
}
html {
    background-color: #b8ffea;
    background-color: #ffb991 ;
}
    .alert-primary {
    color: #5f2f22;
    background-color: #b8ffea;
    border-color: #b8ffea;
}
body {
    background-color: #ffb991 ;

}
.middle {
    width:85%;
    margin:auto;
    background-color: white;
    border: solid 2px brown;}

    .mytextarea {
        width:100%;
        
    }

    form > input {
        width: 98%;
    }
    .myflexbox {
        display:flex;
        /* border:solid 2px blue; */
        /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    flex-wrap: wrap;
}
.hidden {
    display: none;

}
.pictureradio {
    height: 20px;
}
.eachpicture {
    padding:5px;
    border: solid 2px black;
}
    
    .pictureframe {
        width:200px;
  height: 200px;  
  /* border:solid 2px red; */

    }

    .pictureframe img {
  width:100%;
  height:100%;
  object-fit: cover;
  /* position: relative;   */

}
.addimagesubform {
    border:solid 2px purple;
}
.mymediabox {
    border: 2px solid brown;
}
.mymap {
    /* position: relative; */
}
.mapdiv{
position: relative;

}

.thestar {
    position: absolute;
    top:${property.mapy}px;
    left:${property.mapx}px;
}

</style>

<body>
        <div><a href="/logout">LOGOUT</a></div>
        <div><a href="/main">Properties</a></div>
        <div><a href="/client/property/detail/${property.id}">View Live Page </a> </div>


              <section class="jumbotron text-center">
                  <div class="container">
                    <h1 class="jumbotron-heading">Individual Property Page</h1>
                    <h2>Welcome User, ${userid}</h2>
                    <h3>${message}</h3>
                    <p class="lead text-muted">    

                  </p>
                  </div>
                </section>

                <div class="middle" >

<form action="/property/update" method="POST">
    <h1>property id ${property.id}</h1>
    <input type="hidden" name="propid" value=${property.id ? property.id : ""}>

    <label for="form-prop-name">Property Name</label>
    <input maxlength="148" type="text" name="propertyname" value='${property.propertyName ? property.propertyName: "nameme"}' id="form-prop-name" size=100>
<br>
    <label for="form-street-address">Street Address</label>
    <input maxlength="148" type="text" name="streetaddress" value='${property.streetAddress ? property.streetAddress : ""}' id="form-street-address" size=100>
    <br>
    <label for="form-county">County</label>
    <input maxlength="48" type="text" name="county" value='${property.county ? property.county : ""}' id="form-county" size=30>
    <br>
    <label for="form-city">City</label>
    <input maxlength="48" type="text" name="city" value='${property.city ? property.city : ""}' id="form-city" size=30>
    <br>
    <label for="form-state">State</label>
    <select name="state" id="form-state" >
    <option ${property.state === "GA" ? "SELECTED" : " " } value="GA">GA</option>
	<option ${property.state === "FL" ? "SELECTED" : " " } value="FL">FL</option>
	<option ${property.state === "NC" ? "SELECTED" : " " } value="NC">NC</option>	
	<option ${property.state === "AL" ? "SELECTED" : " " } value="AL">AL</option>
	<option ${property.state === "AK" ? "SELECTED" : " " } value="AK">AK</option>
	<option ${property.state === "AR" ? "SELECTED" : " " } value="AR">AR</option>	
	<option ${property.state === "AZ" ? "SELECTED" : " " } value="AZ">AZ</option>
	<option ${property.state === "CA" ? "SELECTED" : " " } value="CA">CA</option>
	<option ${property.state === "CO" ? "SELECTED" : " " } value="CO">CO</option>
	<option ${property.state === "CT" ? "SELECTED" : " " } value="CT">CT</option>
	<option ${property.state === "DC" ? "SELECTED" : " " } value="DC">DC</option>
	<option ${property.state === "DE" ? "SELECTED" : " " } value="DE">DE</option>
	<option ${property.state === "HI" ? "SELECTED" : " " } value="HI">HI</option>
	<option ${property.state === "IA" ? "SELECTED" : " " } value="IA">IA</option>	
	<option ${property.state === "ID" ? "SELECTED" : " " } value="ID">ID</option>
	<option ${property.state === "IL" ? "SELECTED" : " " } value="IL">IL</option>
	<option ${property.state === "IN" ? "SELECTED" : " " } value="IN">IN</option>
	<option ${property.state === "KS" ? "SELECTED" : " " } value="KS">KS</option>
	<option ${property.state === "KY" ? "SELECTED" : " " } value="KY">KY</option>
	<option ${property.state === "LA" ? "SELECTED" : " " } value="LA">LA</option>
	<option ${property.state === "MA" ? "SELECTED" : " " } value="MA">MA</option>
	<option ${property.state === "MD" ? "SELECTED" : " " } value="MD">MD</option>
	<option ${property.state === "ME" ? "SELECTED" : " " } value="ME">ME</option>
	<option ${property.state === "MI" ? "SELECTED" : " " } value="MI">MI</option>
	<option ${property.state === "MN" ? "SELECTED" : " " } value="MN">MN</option>
	<option ${property.state === "MO" ? "SELECTED" : " " } value="MO">MO</option>	
	<option ${property.state === "MS" ? "SELECTED" : " " } value="MS">MS</option>
	<option ${property.state === "MT" ? "SELECTED" : " " } value="MT">MT</option>
	<option ${property.state === "NE" ? "SELECTED" : " " } value="NE">NE</option>
	<option ${property.state === "NH" ? "SELECTED" : " " } value="NH">NH</option>
	<option ${property.state === "NJ" ? "SELECTED" : " " } value="NJ">NJ</option>
	<option ${property.state === "NM" ? "SELECTED" : " " } value="NM">NM</option>			
	<option ${property.state === "NV" ? "SELECTED" : " " } value="NV">NV</option>
	<option ${property.state === "NY" ? "SELECTED" : " " } value="NY">NY</option>
	<option ${property.state === "ND" ? "SELECTED" : " " } value="ND">ND</option>
	<option ${property.state === "OH" ? "SELECTED" : " " } value="OH">OH</option>
	<option ${property.state === "OK" ? "SELECTED" : " " } value="OK">OK</option>
	<option ${property.state === "OR" ? "SELECTED" : " " } value="OR">OR</option>
	<option ${property.state === "PA" ? "SELECTED" : " " } value="PA">PA</option>
	<option ${property.state === "RI" ? "SELECTED" : " " } value="RI">RI</option>
	<option ${property.state === "SC" ? "SELECTED" : " " } value="SC">SC</option>
	<option ${property.state === "SD" ? "SELECTED" : " " } value="SD">SD</option>
	<option ${property.state === "TN" ? "SELECTED" : " " } value="TN">TN</option>
	<option ${property.state === "TX" ? "SELECTED" : " " } value="TX">TX</option>
	<option ${property.state === "UT" ? "SELECTED" : " " } value="UT">UT</option>
	<option ${property.state === "VT" ? "SELECTED" : " " } value="VT">VT</option>
	<option ${property.state === "VA" ? "SELECTED" : " " } value="VA">VA</option>
	<option ${property.state === "WA" ? "SELECTED" : " " } value="WA">WA</option>
	<option ${property.state === "WI" ? "SELECTED" : " " } value="WI">WI</option>	
	<option ${property.state === "WV" ? "SELECTED" : " " } value="WV">WV</option>
	<option ${property.state === "WY" ? "SELECTED" : " " } value="WY">WY</option>
</select>
    
    
    
    
    
    <br>
    <label for="form-zipcode">Zip Code</label>
    <input type="text" name="zipcode" value='${property.zipcode ? property.zipcode : ""}' id="form-zipcode" maxlength="10">
    <br>
    <label for="form-squarefeet">Squarefeet</label>
    <input type="number" name="squarefeet" value='${property.squarefeet ? property.squarefeet : ""}' id="form-squarefeet" size=30>
    <br>
    <label for="form-description">Property Highlights</label>
    <textarea class="tinymce" name="description" id="form-description" >${property.description ? property.description : ""}</textarea>

    <br>
    <label for="form-directions">directions</label>
    <input type="text" name="directions" value='${property.directions ? property.directions : ""}' id="form-directions" size=30>
    <br>
    <label for="form-contact-id">contact person to display</label>

    <select class="contactid" name="contactid" id="inputstate" id="form-contact-id" >

            ${allEmployees.map((emp) => `
                <option value=${emp.id} ${emp.id === property.contactId ? "selected" : ""} >${emp.name}</option>`).join(' ')}
            </select>
    
    
    
    <br>
    <label for="form-type">Property Type</label>

    <select name="type" id="form-type">
    <option value="Grocery anchored"  ${property.type ===  "Grocery anchored" ? "SELECTED" : ""} >Grocery anchored</option>
    <option value="Strip Retail" ${property.type ===  "Strip Retail" ? "SELECTED" : ""} >Strip Retail</option>
    <option value="Anchored" ${property.type ===  "Anchored" ? "SELECTED" : ""} >Anchored</option>
    <option value="Outparcels" ${property.type ===  "Outparcels" ? "SELECTED" : ""} >Outparcels</option>
    </select>



    <br>
    <label for="form-show-main-prop">Show on Main Properties Page</label>
    <input type="checkbox" name="showmp" ${property.showMP ? 'checked' : ''} id="form-show-main-prop" size=30>
    <br>
    <label for="form-show-dev-inv">Show on Developments and Investments Page</label>
    <input type="checkbox" name="showdi" ${property.showDI ? 'checked' : ''} id="form-show-dev-inv" size=30>
    <br>
    <label for="form-show-prev-dev">Show on Previous Developments Section</label>
    <input type="checkbox" name="showpd"  ${property.showPD ? 'checked' : ''} id="form-show-prev-dev" size=30>

    <br>
    <label for="form-previous-dev-desc">Previous Developments short description (starts with 'is')</label>
    <br>
    <textarea class="mytextarea" name="pddescription" id="form-previous-dev-desc" rows="10">${property.pdDescription ? property.pdDescription : ""}</textarea>
    <br>
    <label for="form-year-open">Year Opened</label>
    <input type="number" name="yearopen" value='${property.yearOpened ? property.yearOpened : ""}' id="form-year-open" size=30>
    <br>
    <label for="form-major-tennants">Major Tenants</label>
    <input maxlength="98" type="text" name="majortenants" value='${property.majorTenants ? property.majorTenants : ""}' id="form-major-tennants" size=30>
    <br>

<!-- hidden fields for the map x and y coordinates -->
    <input  hidden type="number" data-mapx name="mapx" value='${property.mapx ? property.mapx : "0"}' id="form-mapx" >
    <br>
    <input hidden type="number" data-mapy name="mapy" value='${property.mapy ? property.mapy : "0"}' id="form-mapy" >
    <br>


    <hr>
    <div>Place for all the pictures</div>
    <div class="myflexbox">  


            ${allPictures.map((pic) => `
                <div class="eachpicture"><input ${pic.id === property.photo ? "checked" : ""} class="pictureradio" type="radio" name="photoid" value=${pic.id}> <div class="pictureframe"><img src="../${pic.url}"></div></div>
                `
                ).join(' ')}

    </div>


   
    <div class="mymediabox">  
        <div >Place for all the Media</div>

            ${allMedia.map((media) => `
                <div class="eachmedia"><input ${media.display ? "checked" : ""} class="mediacheckbox" type="checkbox" name="mediaid" value=${media.id}> 
                    ${media.fileTitle}
                </div><br>
                `
                ).join(' ')}

    </div>



</div>

<div class="mapdiv">The Map - click to position property on the map
   <br>
<img  class="mymap" style="margin: 10px;" src="../img/metroatlga.jpg" data-map-element alt="">
<img class="thestar ${(property.mapx === null || (property.mapx === 0 && property.mapy === 0 )) ? "hidden" : ""}" data-the-star src="../img/thestar.png" alt="">
</div>
<button data-remove-star >Remove Star</button>
<hr>

    <button class="saveChanges" type="submit" >Save</button></form>

</form>


<div ${property.id ? "": "hidden" } class="addimagesubform" >Upload an Image<br>
    <form class="addimagesubform" action="/property/addimage" METHOD="POST" encType="multipart/form-data">
        <input type="hidden" name="propid" value=${property.id ? property.id : ""}>
        <input name="properyimage" type="file" accept="image/png, image/jpeg, image/jpg, image/gif"/><br>

        <button type="submit" class="submit-button">Upload File</button>
    </form>
</div>

<div ${property.id ? "": "hidden" } class="addmediasubform" >Upload a Media file<br>
    <form class="addmediasubform" action="/property/addmedia" METHOD="POST" encType="multipart/form-data">
        <input type="hidden" name="mediapropid" value=${property.id ? property.id : ""}>
        <label for="filetitleform">Name to be Displayed:</label>
        <input type="text" name="filetitle" id="filetitleform">
        <input name="mediaimage" type="file" accept=".pdf, .doc, .docx, application/msword"/><br>

        <button type="submit" class="submit-button">Upload Media File</button>
    </form>
</div>




                <div><a href="/logout">LOGOUT</a></div>

          
          



    <script src="/scripts/property.js"></script> 

</body>
</html>