
<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>Properties | Columbia Properties</title>
<!-- <link rel="stylesheet" type="text/css" href="http://columbiapropertiesinc.com/css_zeekee.css" /> -->

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="/styles/client-css.css">


<link rel="icon" href="http://columbiapropertiesinc.com/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="http://columbiapropertiesinc.com/Icon.png"/> 
<link rel="apple-touch-icon" sizes="72x72" href="http://columbiapropertiesinc.com/Icon-72.png"/> 
<link rel="apple-touch-icon" sizes="114x114" href="http://columbiapropertiesinc.com/Icon114x.png"/>  


</head>

<style>

</style>
<body>
				<!-- <div id="bg_repeat-sub">
				<div id="main_container"> -->

			
            ${headerPartial}
			<div style="clear:both;"><span> </span>
			</div>
	
			${subHeader}
	

			<div style="clear:both;"><span> </span></div>
<br><br>

			<div class="main">
			
                        
                        
                        ${properties.map((property) =>  `


							<div class="property_listing">                                
                                <div class="property_listing-left">
                                    <h3><a href="/client/property/detail/${property.id}">${property.propertyname}</a></h3>
                                    <p>Type: ${property.type}<br />
                                    ${property.streetaddress}, 
                                    ${property.county},${property.city},${property.state} ${property.zipcode}<br />
                                    Size: ${property.squarefeet} sf</p>
                                    <p><a href="/client/property/detail/${property.id}">Property Details ></a></p>
                                </div>
                                <div class="property_listing-right">
                                    <div class="properties_image-border">
                                    <a href="/client/property/detail/${property.id}"><img src= "/${property.url ? property.url : 'propertyphotos/no-image.jpg'}"  alt="" width="150" height="150" class="search_result_thumb" style="border: none;" /></a>                                        </div>
                                </div>
                                <div style="clear:both;"><span> </span></div>
                            </div>


                            `).join(' ')}



                                
                            <!-- <div class="property_listing-noImage">      they alternated witht his class                     -->
                            	
							
						</div><!-- end content main /////////////////////////// -->
						<div style="clear:both;"><span> </span></div>

        
		</div>

	</div><!-- end main container /////////////////////////// -->
<br>
<hr>
	${footerPartial}

</body>
</html>