
<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>Properties | Columbia Properties</title>
<link rel="stylesheet" type="text/css" href="http://columbiapropertiesinc.com/css_zeekee.css" />

<link rel="icon" href="http://columbiapropertiesinc.com/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="http://columbiapropertiesinc.com/Icon.png"/> 
<link rel="apple-touch-icon" sizes="72x72" href="http://columbiapropertiesinc.com/Icon-72.png"/> 
<link rel="apple-touch-icon" sizes="114x114" href="http://columbiapropertiesinc.com/Icon114x.png"/>  

<!-- <link rel="stylesheet" type="text/css" href="/jquery.popover.css" media="screen" /> -->
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>  -->
<!-- <script type="text/javascript" src="/scripts/jquery.popover.js"></script> -->

<!-- <script type="text/javascript" src="http://use.typekit.com/qjg4hze.js"></script> -->
<!-- <script type="text/javascript">try{Typekit.load();}catch(e){}</script> -->

<!-- <script src="/scripts/zeekee.js" type="text/javascript"></script> -->


</head>

<style>

	.property_listing {

		background-image:none;
	}
	.property_listing:nth-child(even) {
		background-color: red;
		
	}

</style>
<body>
				<div id="bg_repeat-sub">
				<div id="main_container">
			<div id="header">
                <div id="back-home"><a href="/client/home"><img src="/images/btn_backHome.jpg" alt="Back to Home" style="border:none;" /></a></div>				
                <div id="logo"><a href="/client/home"><img src="/images/img_logo.jpg" alt="" style="border:none;" /></a></div>
				<div id="nav">
                    <a id="nav_01" href="/client/mainproperties"><span> </span></a> 
                    <!--onmouseover="P7_MultiClass2('L1','show','L2','hide','L3','hide')" onmouseout="P7_MultiClass2('L1','hide','L2','hide','L3','hide')"-->
					<a id="nav_02" href="" onmouseover="P7_MultiClass2('L1','hide','L2','show','L3','hide')" onmouseout="P7_MultiClass2('L1','hide','L2','hide','L3','hide')"><span> </span></a>
					<a id="nav_03" href="/client/about" onmouseover="P7_MultiClass2('L1','hide','L2','hide','L3','show')" onmouseout="P7_MultiClass2('L1','hide','L2','hide','L3','hide')"><span> </span></a>
					<a id="nav_04" href=""><span> </span></a>
					<a id="nav_05" href="/client/contact"><span> </span></a>
				</div>
			</div><!-- end header /////////////////////////// -->
			<div style="clear:both;"><span> </span></div>
							<div id="banner_sub">
											<div id="flag_sub">
											<div id="flag_sub-content">
							<h1>Properties</h1>
							<p><a href="/index.php">Columbia Properties</a> > <a href="/properties.php">Properties</a></p>							                            
																																		</div>
						<div id="property_btn"><a href="/properties-map.php"><img src="/images/btn_property-map.jpg" alt="property map" style="border:none;" /></a></div></div>
				</div>
						<div id="main">
			<div id="main-top">
						<div class="content_main" id="content_main">
                        
                        
                        ${properties.map((property) =>  `


							<div class="property_listing">                                
                                <div class="property_listing-left">
                                    <h3><a href="/client/property/detail/${property.id}">${property.propertyname}</a></h3>
                                    <p>Type: ${property.type}<br />
                                    ${property.streetaddress}, 
                                    ${property.county},${property.city},${property.state} ${property.zipcode}<br />
                                    Size: ${property.squarefeet} sf</p>
                                    <p><a href="/client/property/detail/${property.id}">Property Details ></a></p>
                                </div>
                                <div class="property_listing-right">
                                    <div class="properties_image-border">
                                    <a href="/client/property/detail/${property.id}"><img src= "/${property.url ? property.url : 'propertyphotos/no-image.jpg'}"  alt="" width="150" height="150" class="search_result_thumb" style="border: none;" /></a>                                        </div>
                                </div>
                                <div style="clear:both;"><span> </span></div>
                            </div>


                            `).join(' ')}



                                
                            <!-- <div class="property_listing-noImage">      they alternated witht his class                     -->
                            	
							
						</div><!-- end content main /////////////////////////// -->
						<div style="clear:both;"><span> </span></div>

					</div>
				</div><!-- end main contents /////////////////////////// -->
        
        <div id="sub_nav">
			<div id="L1" onmouseover="P7_MultiClass2('L1','show','L2','hide','L3','hide')" onmouseout="P7_MultiClass2('L1','hide','L2','hide','L3','hide','','')">

			</div>
			<div id="L2" onmouseover="P7_MultiClass2('L1','hide','L2','show','L3','hide','nav_02','active_02')" onmouseout="P7_MultiClass2('L1','hide','L2','hide','L3','hide','nav_02','')">
				<a href="">Development</a>
				<a href="">Management</a>
				<a href="">Leasing</a>
				<a href="">Tenant Representation</a>
				<a href="">Investment</a>	
                <!--<a href="/sales--finance.php">Sales &amp; Finance</a>-->
			</div>
			<div id="L3" onmouseover="P7_MultiClass2('L1','hide','L2','hide','L3','show','nav_03','active_03')" onmouseout="P7_MultiClass2('L1','hide','L2','hide','L3','hide','nav_03','')">
				<a href="/client/previousproperties">Development History</a>
				<a href="/client/employees">Key Employees</a>
				<a href="">Retail Relationships</a>
			</div>
		</div>
		</div>

	</div><!-- end main container /////////////////////////// -->
	<div id="footer_repeat">
		<div id="footer_content">
			<p align="center">Copyright &copy; 2019 Columbia Properties Inc.  |  1355 Terrell Mill Road, Building 1478, Suite 200 Marietta, Georgia 30067  |  tel. 678.460.3122  |  fax 770.953.4306<!--<br /><a href="/tenant-lease-application.php">Tenant Lease Application</a> | <a href="/financial-statements.php">Financial Statements</a>--></p>
	</div>
</body>
</html>