
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>Properties | Columbia Properties</title>
<!-- <link rel="stylesheet" type="text/css" href="http://columbiapropertiesinc.com/css_zeekee.css" /> -->



<link rel="icon" href="http://columbiapropertiesinc.com/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="http://columbiapropertiesinc.com/Icon.png"/> 
<link rel="apple-touch-icon" sizes="72x72" href="http://columbiapropertiesinc.com/Icon-72.png"/> 
<link rel="apple-touch-icon" sizes="114x114" href="http://columbiapropertiesinc.com/Icon114x.png"/>  

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="/styles/client-css.css">


<body>
    <div id="bg_repeat-detail">
        <div id="main_container">

            ${headerPartial}


        <div style="clear:both;"><span> </span>
        </div>

        ${subHeader}
        

        <div class="main">
                    <div class="propertyDetail-left">
                        <div class="propertiesDetail_image-border">
                            <img class="mainimage" src="/${property.url ? property.url : 'propertyphotos/no-image.jpg'}" alt=""  />
                        </div>
                        <div class="seperator"><span> </span>
                        </div>
                    </div>

                    
                    <div class="propertyDetail-right">
                        <img src="/propertyphotos/CRM_logo.jpg" alt="Columbia Retail Management Logo" width="308" />
                        <div class="seperator"><span> </span></div>
                        
                        <h1>${property.property_name}</h1>
                        
                        <!-- <h3>Address</h3> -->
                        <p> ${property.street_address}<br />
                        ${property.county}<br />                                                                ${property.city},${property.state}&nbsp;${property.zipcode}<br />
                                                        </p>
                        <div style="clear:both;"><span> </span></div>
                        
                        <div class="seperator"><span> </span></div>
                        
                        <h3>Contact Info</h3>
                        <div class="propertyDetail-content-left">
                            <p>${property.title}<br />
                            <a href="mailto:${property.email}">${property.contactname}</a><br />
                            ${property.phone}</p>
                        </div>
                        <div class="propertyDetail-content-right">
                            <br />
                        </div>
                        <div style="clear:both;"><span> </span></div>
                        <div class="seperator"><span> </span></div>
                        <h3>Downloads</h3>
                        <!--the financial stmt.  need boolean for this to display or not-->
                            <a href="/mediafiles/FINANCIAL_STATEMENT.pdf" target="_blank"><img src="/img/btn_pdf.jpg" alt="pdf" style="border:none;" />&nbsp;Tenant Lease Application</a><br />

                            ${media.map((med) => `

                            <a href="${med.url}" target="_blank"><img src="/img/btn_pdf.jpg" alt="pdf" style="border:none;" />&nbsp;${med.file_title}</a><br />

                            `).join(' ')}
                    </div>

                    <div class="prop-highlights">
                            <h3>Property Highlights</h3>
                            <p> ${property.description}
                                </div>

                                <div class="dummy4"></div>



		</div><!-- end main contents /////////////////////////// -->
        
	</div>

</div><!-- end main container /////////////////////////// -->
<hr/>
${footerPartial}
</body>
</html>